* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.multiProductCardContainer {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  place-items: center;
  justify-content: center;
}

.productContainer {
  /* You can add styles for the product container if needed */
}
