.productContainer {
  height: 80vh;
  width: 80vw;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productContent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
}

.mainProductImgContainer {
  height: 200px;
  width: 200px;
}

.mainProductImg, .otherProductImg {
  height: 100%;
  width: 100%;
}

.otherProductImgContainer{
  height:100px;
  width: 100px;
}

.otherProductImgsContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}



