.single-product-page-container{
    width: 80%;
    border: 2px solid black;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.product-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
}

.product-img-container {
    height: 200px;
    width: 200px;
  }
  
  .product-img {
    height: 100%;
    width: 100%;
  }