* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.multiProductPageContainer{
  background:#F7F7F7 ;
  border: 5px solid orange;
  .multiProductPageContent{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:1fr 3fr;

  }
}